
<div class="mx-auto max-w-5xl">
  <div class="flex flex-col-1 lg:flex-col-2 justify-between">
    <div>
      <div class="border border-1">
        <div class="p-4">
          <div class="flex gap-3 my-2">
            <h2 class="font-bold text-3xl">Delivery</h2>
            <svg class="w-8 h-8 text-blue-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="34" height="34" fill="none" viewBox="0 0 24 24">
               <path stroke="currentColor" strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M8.5 11.5 11 14l4-4m6 2a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
             </svg>
             
        </div>
          <h2>Mobile Entry - Fee</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sequi!</p>
        </div>

        <div class="p-4">
          <h3>Quantity</h3>
          <div class="flex items-center mt-4">
            <button class="border rounded-md py-2 px-4 mr-2 cursor-pointer" (click)="addToQuantity()">+</button>
            <span class="text-center w-8 cursor-pointer">{{initailQuantity}}</span>
            <button class="border rounded-md py-2 px-4 ml-2 cursor-pointer" [disabled]="initailQuantity === 1"
              (click)="subToQuantity()">-</button>
          </div>


        </div>
      </div>
      <div class="border border-1 mt-8">
        <app-payment></app-payment>
      </div>
    </div>
    <app-order [cost]="initialCost" [quantity]="initailQuantity" [orderFee]="serviceFee" [processingFee]="orderProcessingFee"></app-order>
  </div>

</div>